/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000;
  background-color: #ffffff; }

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/ptsansbold.woff") format("woff"), url("../../fonts/ptsansbold.woff2") format("woff2"); }

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/ptsans.woff") format("woff"), url("../../fonts/ptsans.woff2") format("woff2"); }

.page-header {
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .page-header {
      width: 700px; } }
  @media (min-width: 1200px) {
    .page-header {
      width: 1200px; } }
  .page-header__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    position: relative;
    z-index: 2; }
  .page-header__logo {
    background-repeat: no-repeat; }
  .page-header__toggle {
    position: absolute;
    right: 20px;
    top: 17px;
    background: none;
    border: none;
    outline: none;
    font-size: 0;
    height: 22px;
    width: 23px;
    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
    fill: #81b3d2; }

.main-nav {
  min-width: 320px;
  margin: 0 auto;
  background: #ffffff;
  position: absolute;
  top: -250px;
  z-index: 10;
  transition: 0.5s; }
  @media (min-width: 768px) {
    .main-nav {
      width: 700px; } }
  @media (min-width: 1200px) {
    .main-nav {
      width: 1200px; } }
  .main-nav a {
    color: #fff;
    text-decoration: none; }
  .main-nav__close {
    position: absolute;
    font-size: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    top: 3px;
    right: 3px;
    z-index: 5; }
    .main-nav__close::before {
      position: absolute;
      content: '';
      height: 3px;
      width: 21px;
      background-color: #fff;
      transform: rotate(45deg);
      right: 17px;
      top: 25px; }
    .main-nav__close::after {
      position: absolute;
      content: '';
      height: 3px;
      width: 21px;
      background-color: #fff;
      transform: rotate(-45deg);
      right: 17px;
      top: 25px; }
  .main-nav__list {
    list-style: none;
    background: #81b3d2;
    margin: 0;
    padding: 0;
    line-height: 40px;
    text-align: center;
    color: #fff; }
  .main-nav__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    min-height: 55px;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
    position: relative; }
    .main-nav__item:first-child {
      border-top: none; }
    .main-nav__item:last-child {
      border-bottom: none; }
    .main-nav__item:hover {
      background: #669ec0; }
    .main-nav__item:active {
      color: #88b6d1; }

.page-main {
  position: relative;
  top: -32px;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .page-main {
      width: 700px; } }
  @media (min-width: 1200px) {
    .page-main {
      width: 1200px; } }

.promo {
  position: relative; }
  .promo__img {
    width: 100%;
    height: 389px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-size: cover;
    background-position: -210px 0;
    margin-bottom: 45px; }
    .promo__img::before {
      position: absolute;
      content: '';
      top: 90px;
      left: 50%;
      margin-left: -140px;
      width: 280px;
      height: 210px;
      background-image: url("../img/text-sedona-index.svg");
      background-size: contain;
      background-repeat: no-repeat; }
    .promo__img::after {
      position: absolute;
      content: '';
      top: 332px;
      left: 0;
      width: 100%;
      height: 57px;
      background-image: url("../img/intro-triangle.svg");
      background-size: contain;
      background-repeat: no-repeat; }
  .promo__title {
    font-size: 18px;
    line-height: 26px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center; }
  .promo__text {
    font-size: 14px;
    line-height: 26px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    text-align: center;
    color: #333; }
    .promo__text--fix {
      padding-left: 23px;
      padding-right: 23px; }

.promo__img--second {
  height: 159px;
  background-size: 768px 389px;
  background-repeat: no-repeat;
  background-position: -200px -250px; }
  .promo__img--second::before {
    width: 230px;
    height: 40px;
    margin-left: -115px;
    top: 51px;
    background-image: url("../img/text-sedona.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  .promo__img--second::after {
    top: 82px; }

.post-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .post-wrapper {
      width: 700px; } }
  @media (min-width: 1200px) {
    .post-wrapper {
      width: 1200px; } }
  .post-wrapper::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0px;
    width: 100%;
    height: 37px;
    background-image: url("../img/white-triangle.png");
    background-repeat: no-repeat;
    background-size: cover; }

.reason {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #81b3d2; }
  .reason__text-wrapper {
    position: relative;
    text-align: center;
    color: #fff;
    padding-top: 30px; }
    .reason__text-wrapper:first-child {
      padding-top: 80px; }
  .reason__title {
    font-size: 18px;
    line-height: 10px; }
  .reason__text {
    font-size: 14px;
    line-height: 21px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 45px; }
  .reason__photo {
    width: 100%;
    height: 260px;
    background: url("../img/photo-city@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -105px 0px; }
    .reason__photo-2 {
      width: 100%;
      height: 260px;
      background: url("../img/photo-4-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover; }

.reason--close {
  background-color: #eee; }
  .reason--close .reason__title {
    color: #000; }
  .reason--close .reason__number {
    color: #333; }
  .reason--close .reason__text {
    color: #333;
    padding-bottom: 30px; }
  .reason--close .reason__text-wrapper {
    border-bottom: 1px solid #d6d6d6;
    padding-top: 30px; }
  .reason--close:last-child .reason__text-wrapper {
    border-bottom: none; }

.feauteres {
  margin-top: 30px;
  margin-bottom: 30px; }
  .feauteres__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .feauteres__item {
    padding-left: 70px;
    padding-right: 33px;
    position: relative; }
  .feauteres__item:nth-child(1)::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: -7px;
    left: 13px;
    background: url("../img/icon-house.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  .feauteres__item:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: -7px;
    left: 13px;
    background: url("../img/icon-gift.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  .feauteres__item:nth-child(3)::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: -7px;
    left: 13px;
    background: url("../img/icon-burger.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  .feauteres__title {
    font-size: 18px;
    line-height: 26px; }
  .feauteres__text {
    font-size: 14px;
    line-height: 21px;
    color: #333; }

.page-footer {
  min-width: 320px;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 768px) {
    .page-footer {
      width: 700px; } }
  @media (min-width: 1200px) {
    .page-footer {
      width: 1200px; } }
  .page-footer__hashtag {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px; }
  .page-footer__logo {
    position: relative;
    margin-bottom: 30px;
    margin-left: -35px; }
  .page-footer__logo::before {
    position: absolute;
    content: '';
    right: 95px;
    width: 27px;
    height: 34px;
    background: url("../img/logo-htmlacademy.svg") no-repeat;
    background-size: contain; }
  .page-footer__copyright {
    font-size: 14px;
    line-height: 26px; }
  .page-footer__social {
    min-height: 47px; }

.social-btn {
  display: inline-block;
  vertical-align: top;
  background: #81b3d2;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  width: 47px;
  height: 48px; }
  .social-btn--twitter {
    background: url("../img/icon-twitter.svg") no-repeat;
    background-size: 35px 35px;
    background-position: center; }
  .social-btn--facebook {
    background: url("../img/icon-facebook.svg") no-repeat;
    background-size: 35px 35px;
    background-position: center; }
  .social-btn--youtube {
    background: url("../img/icon-youtube.svg") no-repeat;
    background-size: 35px 35px;
    background-position: center; }

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .gallery {
      width: 700px; } }
  @media (min-width: 1200px) {
    .gallery {
      width: 1200px; } }

.post {
  border-top: 1px solid #e5e5e5;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 20px; }
  .post:last-child {
    border-bottom: 1px solid #e5e5e5; }
  .post:nth-child(1) .post__photo {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    background: url("../img/photo-1-mobile@1x.jpg") no-repeat; }
  .post:nth-child(2) .post__photo {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    background: url("../img/photo-2-mobile@1x.jpg") no-repeat; }
  .post:nth-child(3) .post__photo {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    background: url("../img/photo-3-mobile@1x.jpg") no-repeat; }
  .post:nth-child(4) .post__photo {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    background: url("../img/photo-4-mobile@1x.jpg") no-repeat; }
  .post__quote {
    width: 280px;
    margin: 0 auto; }
  .post__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px; }
  .post__author {
    font-style: normal;
    text-transform: none;
    font-size: 14px;
    line-height: 24px;
    color: #333; }
  .post__like {
    margin-top: 0px;
    margin-bottom: 0px; }
  .post__like a {
    padding-left: 37px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    position: relative; }
  .post__like a::before {
    position: absolute;
    content: '';
    width: 23px;
    height: 23px;
    left: 0;
    background: url("../img/icon-like.svg") no-repeat; }

.map {
  min-width: 320px;
  margin: 0 auto;
  height: 350px;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    .map {
      width: 700px; } }
  @media (min-width: 1200px) {
    .map {
      width: 1200px; } }

.search {
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  min-height: 300px; }
  @media (min-width: 768px) {
    .search {
      width: 700px; } }
  @media (min-width: 1200px) {
    .search {
      width: 1200px; } }
  .search__title {
    text-align: center;
    font-size: 21px;
    line-height: 26px; }
  .search__text {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 35px;
    padding-right: 30px;
    padding-left: 30px; }
  .search__btn {
    display: inline-block;
    vertical-align: top;
    background: #81b3d2;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    font-size: 21px;
    line-height: 26px;
    padding: 17px 50px; }
    .search__btn:hover {
      background: #669ec0; }
    .search__btn:active {
      color: #88b6d1; }

.video {
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
  min-height: 460px; }
  @media (min-width: 768px) {
    .video {
      width: 700px; } }
  @media (min-width: 1200px) {
    .video {
      width: 1200px; } }
  .video__title {
    font-size: 18px;
    line-height: 26px; }
  .video__text {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
    margin-top: 30px; }
  .video__photo {
    position: relative;
    width: 100%;
    height: 200px;
    background: url("../img/video-mobile@1x.jpg") no-repeat; }
  .video__controls {
    position: absolute;
    width: 280px; }
    .video__controls-top {
      position: absolute;
      width: 280px;
      height: 45px;
      background-color: rgba(0, 0, 0, 0.6);
      left: 50%;
      margin-left: -120px;
      top: 155px; }
      .video__controls-top-scale {
        width: 235px;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        left: 50%;
        margin-left: -117px;
        top: 21px; }
      .video__controls-top-mark {
        width: 9px;
        height: 9px;
        background-color: #fff;
        position: absolute;
        border-radius: 50%;
        top: 18px;
        left: 58px; }
    .video__controls-bottom {
      position: absolute;
      width: 280px;
      height: 65px;
      background-color: #f2f2f2;
      left: 50%;
      margin-left: -120px;
      top: 200px; }
      .video__controls-bottom__btn-repeat {
        position: absolute;
        top: 20px;
        left: 25px;
        width: 21px;
        height: 21px;
        outline: none;
        border: none;
        background: url("../img/icon-video-replay.svg") no-repeat; }
      .video__controls-bottom__btn-sub {
        position: absolute;
        top: 20px;
        left: 174px;
        width: 32px;
        height: 31px;
        outline: none;
        border: none;
        background: url("../img/icon-video-subtitles.svg") no-repeat; }
      .video__controls-bottom__btn-fullscreen {
        position: absolute;
        top: 20px;
        left: 237px;
        width: 21px;
        height: 21px;
        outline: none;
        border: none;
        background: url("../img/icon-video-fullscreen.svg") no-repeat; }
