/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000;
  background-color: #ffffff; }

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/ptsansbold.woff") format("woff"), url("../../fonts/ptsansbold.woff2") format("woff2"); }

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/ptsans.woff") format("woff"), url("../../fonts/ptsans.woff2") format("woff2"); }

.page-header {
  width: 320px;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 768px) {
    .page-header {
      width: 700px; } }
  @media (min-width: 1200px) {
    .page-header {
      width: 1200px; } }
  .page-header__logo {
    margin: 0 auto;
    width: 102px;
    height: 83px;
    position: relative;
    z-index: 5; }
  .page-header__toggle {
    position: absolute;
    right: 20px;
    top: 17px;
    background: none;
    border: none;
    outline: none;
    font-size: 0;
    height: 22px;
    width: 23px;
    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
    fill: #81b3d2; }

@media (min-width: 768px) {
  .page-header {
    height: 50px; }
    .page-header__toggle {
      display: none; }
    .page-header__logo {
      top: -50px; } }

.main-nav {
  width: 320px;
  margin: 0 auto;
  background: #ffffff;
  position: absolute;
  top: -250px;
  z-index: 7;
  transition: 0.5s; }
  @media (min-width: 768px) {
    .main-nav {
      width: 700px; } }
  @media (min-width: 1200px) {
    .main-nav {
      width: 1200px; } }
  .main-nav a {
    color: #fff;
    text-decoration: none; }
  .main-nav__close {
    position: absolute;
    font-size: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    top: 3px;
    right: 3px;
    z-index: 5; }
    .main-nav__close::before {
      position: absolute;
      content: '';
      height: 3px;
      width: 21px;
      background-color: #fff;
      transform: rotate(45deg);
      right: 17px;
      top: 25px; }
    .main-nav__close::after {
      position: absolute;
      content: '';
      height: 3px;
      width: 21px;
      background-color: #fff;
      transform: rotate(-45deg);
      right: 17px;
      top: 25px; }
  .main-nav__list {
    list-style: none;
    background: #81b3d2;
    margin: 0;
    padding: 0;
    line-height: 40px;
    text-align: center;
    font-weight: 700; }
  .main-nav__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    color: #fff;
    min-height: 55px;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
    position: relative; }
    .main-nav__item:first-child {
      border-top: none; }
    .main-nav__item:last-child {
      border-bottom: none; }
    .main-nav__item:hover {
      background: #669ec0; }
    .main-nav__item:active {
      color: #88b6d1; }

@media (min-width: 768px) {
  .main-nav {
    position: static; }
    .main-nav a {
      color: #000; }
    .main-nav__close {
      display: none; }
    .main-nav__list {
      background: transparent;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between; }
    .main-nav__item {
      min-height: 50px;
      font-size: 14px;
      line-height: 26px;
      border: none; }
      .main-nav__item:nth-child(2) {
        margin-right: 76px; }
      .main-nav__item:nth-child(3) {
        margin-right: 210px; }
      .main-nav__item:nth-child(4) {
        margin-right: 50px; }
      .main-nav__item:hover {
        background: #fff; }
      .main-nav__item:active {
        color: #000; } }

.page-main {
  position: relative;
  top: -32px; }

@media (min-width: 768px) {
  .page-main {
    top: 0; } }

.promo {
  position: relative; }
  .promo__img {
    width: 100%;
    height: 389px;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
    background-size: cover;
    background-position: -210px 0;
    margin-bottom: 45px; }
    .promo__img::before {
      position: absolute;
      content: '';
      top: 90px;
      left: 50%;
      margin-left: -140px;
      width: 280px;
      height: 210px;
      background-image: url("../img/text-sedona-index.svg");
      background-size: contain;
      background-repeat: no-repeat; }
    .promo__img::after {
      position: absolute;
      content: '';
      top: 332px;
      left: 0;
      width: 100%;
      height: 57px;
      background: url("../img/intro-triangle.svg");
      background-size: contain;
      background-repeat: no-repeat; }
  .promo__title {
    font-size: 18px;
    line-height: 26px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center; }
  .promo__text {
    font-size: 14px;
    line-height: 26px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    text-align: center;
    color: #333; }
    .promo__text--fix {
      padding-left: 23px;
      padding-right: 23px; }

.promo__img--second {
  height: 159px;
  background-size: 768px 389px;
  background-repeat: no-repeat;
  background-position: -200px -250px; }
  .promo__img--second::before {
    width: 230px;
    height: 40px;
    margin-left: -115px;
    top: 51px;
    background-image: url("../img/text-sedona.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  .promo__img--second::after {
    top: 82px; }

@media (min-width: 768px) {
  .promo {
    margin-bottom: 50px; }
    .promo__img {
      height: 518px;
      background: url("../img/back-desktop.jpg");
      background-size: cover; }
      .promo__img::before {
        top: 70px;
        width: 460px;
        height: 350px;
        margin-left: -230px; }
      .promo__img::after {
        width: 100%;
        height: 57px;
        top: 461px;
        background: url("../img/intro-triangle-table.svg") no-repeat; }
    .promo__title {
      font-size: 21px;
      line-height: 26px;
      width: 450px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px; }
      .promo__title--second {
        font-size: 30px; }
    .promo__text {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px; }
  .promo__img--second {
    height: 290px;
    background-position: 0 -228px; }
  .promo__img::after {
    top: 233px; } }

.post-wrapper {
  position: relative; }
  .post-wrapper::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0px;
    width: 100%;
    height: 37px;
    background-image: url("../img/white-triangle.png");
    background-repeat: no-repeat;
    background-size: cover; }

@media (min-width: 768px) {
  .post-wrapper::before {
    background-image: none; } }

.reason {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #81b3d2; }
  .reason__text-wrapper {
    position: relative;
    text-align: center;
    color: #fff;
    padding-top: 30px; }
    .reason__text-wrapper:first-child {
      padding-top: 80px; }
  .reason__title {
    font-size: 18px;
    line-height: 10px; }
  .reason__text {
    font-size: 14px;
    line-height: 21px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 45px; }
  .reason__photo {
    width: 100%;
    height: 260px;
    background: url("../img/photo-city@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -105px 0px; }
    .reason__photo--2 {
      width: 100%;
      height: 260px;
      background: url("../img/photo-4-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover; }

.reason--close {
  background-color: #eee; }
  .reason--close .reason__title {
    color: #000; }
  .reason--close .reason__number {
    color: #333; }
  .reason--close .reason__text {
    color: #333;
    padding-bottom: 30px; }
  .reason--close .reason__text-wrapper {
    border-bottom: 1px solid #d6d6d6;
    padding-top: 30px; }
  .reason--close:last-child .reason__text-wrapper {
    border-bottom: none; }

@media (min-width: 768px) {
  .reason {
    min-height: 260px; }
    .reason:nth-child(3) .reason__text-wrapper {
      -ms-flex-order: 2;
          order: 2; }
    .reason__text-wrapper {
      width: 256px;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; }
      .reason__text-wrapper:first-child {
        padding-top: 0; }
    .reason__title {
      font-size: 21px;
      line-height: 26px;
      padding-left: 40px;
      padding-right: 40px; }
    .reason__text {
      padding-bottom: 0px;
      padding-left: 43px;
      padding-right: 43px; }
    .reason__photo {
      width: calc(100% - 256px);
      height: 260px;
      background-size: cover;
      background-position: 0 0; }
      .reason__photo--2 {
        background: url("../img/photo-bridge@1x.jpg") no-repeat;
        background-size: cover; }
    .reason__close-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      background: #eeeeee; }
  .reason--close {
    width: 33.3%; }
    .reason--close:nth-child(2) .reason__text {
      padding-left: 51px;
      padding-right: 51px; }
    .reason--close:last-child .reason__title {
      padding-left: 48px;
      padding-right: 48px; }
    .reason--close .reason__title {
      padding-left: 40px;
      padding-right: 40px; }
    .reason--close .reason__text {
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 0px; }
    .reason--close .reason__text-wrapper {
      border: none;
      padding-left: 0px;
      padding-right: 0px; } }

.feauteres {
  margin-top: 30px;
  margin-bottom: 30px; }
  .feauteres__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .feauteres__item {
    padding-left: 70px;
    padding-right: 33px;
    position: relative; }
  .feauteres__item:nth-child(1)::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: -7px;
    left: 13px;
    background: url("../img/icon-house.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  .feauteres__item:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: -7px;
    left: 13px;
    background: url("../img/icon-gift.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  .feauteres__item:nth-child(3)::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: -7px;
    left: 13px;
    background: url("../img/icon-burger.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  .feauteres__title {
    font-size: 18px;
    line-height: 26px; }
  .feauteres__text {
    font-size: 14px;
    line-height: 21px;
    color: #333; }

@media (min-width: 768px) {
  .feauteres {
    margin-top: 60px;
    margin-bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .feauteres__list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
    .feauteres__item {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      width: 33.3%;
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;
      padding-top: 100px; }
      .feauteres__item:nth-child(2) {
        -ms-flex-order: 3;
            order: 3; }
      .feauteres__item:nth-child(1)::before {
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        top: 0px;
        left: 50%;
        margin-left: -40px;
        background: url("../img/icon-house.svg");
        background-size: contain;
        background-repeat: no-repeat; }
      .feauteres__item:nth-child(2)::before {
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        top: 0px;
        left: 50%;
        margin-left: -40px;
        background: url("../img/icon-gift.svg");
        background-size: contain;
        background-repeat: no-repeat; }
      .feauteres__item:nth-child(3)::before {
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        top: 11px;
        left: 50%;
        margin-left: -40px;
        background: url("../img/icon-burger.svg");
        background-size: contain;
        background-repeat: no-repeat; } }

.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 768px) {
    .page-footer {
      width: 700px; } }
  @media (min-width: 1200px) {
    .page-footer {
      width: 1200px; } }
  .page-footer__hashtag {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px; }
  .page-footer__logo {
    position: relative;
    margin-bottom: 30px;
    margin-left: -35px; }
  .page-footer__logo::before {
    position: absolute;
    content: '';
    right: 95px;
    width: 27px;
    height: 34px;
    background: url("../img/logo-htmlacademy.svg") no-repeat;
    background-size: contain; }
  .page-footer__copyright {
    font-size: 14px;
    line-height: 26px; }
  .page-footer__social {
    min-height: 47px; }

@media (min-width: 768px) {
  .page-footer {
    width: 320px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    margin-top: 30px;
    margin-bottom: 30px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .page-footer {
      width: 700px; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .page-footer {
      width: 1200px; } }

@media (min-width: 768px) {
    .page-footer__logo {
      margin-left: 0px;
      margin-bottom: 0px;
      padding-right: 35px; }
    .page-footer__logo::before {
      right: 0;
      top: 10px; } }

.social-btn {
  display: inline-block;
  vertical-align: top;
  background: #81b3d2;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  width: 47px;
  height: 48px; }
  .social-btn:hover {
    background: #669ec0; }
  .social-btn:active {
    color: rgba(255, 255, 255, 0.3); }
  .social-btn--twitter {
    background: #81b3d2 url("../img/icon-twitter.svg") no-repeat;
    background-size: 35px 35px;
    background-position: center; }
  .social-btn--facebook {
    background: #81b3d2 url("../img/icon-facebook.svg") no-repeat;
    background-size: 35px 35px;
    background-position: center; }
  .social-btn--youtube {
    background: #81b3d2 url("../img/icon-youtube.svg") no-repeat;
    background-size: 35px 35px;
    background-position: center; }

.field-checkbox__title {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px; }

.field-checkbox__item-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; }

.field-checkbox__item {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px; }

.field-checkbox__input {
  display: none; }
  .field-checkbox__input + .field-checkbox__indicator {
    position: absolute;
    content: '';
    width: 56px;
    height: 56px;
    background: #f2f2f2;
    border-radius: 10px;
    left: 0;
    top: -0px; }
  .field-checkbox__input:checked + .field-checkbox__indicator::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 11px;
    background-color: #333;
    border-radius: 5px;
    top: 23px;
    left: 21px;
    transform: rotate(-45deg); }
  .field-checkbox__input:checked + .field-checkbox__indicator::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 16px;
    background-color: #333;
    border-radius: 5px;
    top: 19px;
    left: 29px;
    transform: rotate(48deg); }

.field-checkbox__text {
  padding-left: 80px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: none; }

.field-radio__title {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px; }

.field-radio__item-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; }

.field-radio__item {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px; }

.field-radio__input {
  display: none; }
  .field-radio__input + .field-radio__indicator {
    position: absolute;
    content: '';
    width: 56px;
    height: 56px;
    background: #f2f2f2;
    border-radius: 50px;
    left: 0;
    top: -0px; }
  .field-radio__input:checked + .field-radio__indicator::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #333;
    border-radius: 50%;
    top: 50%;
    margin-top: -11px;
    left: 50%;
    margin-left: -11px; }

.field-radio__text {
  padding-left: 80px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: none; }

.field-text__title {
  text-align: center;
  font-size: 18px;
  line-height: 26px; }

.field-text__item-wrap {
  padding-left: 20px;
  padding-right: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 280px; }

.field-text__item {
  margin-bottom: 20px; }

.field-text__text {
  color: #333;
  font-size: 14px;
  line-height: 26px;
  padding-right: 18px;
  position: relative; }

.field-text__input {
  border: none;
  outline: none;
  background: #f2f2f2;
  padding-left: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  height: 60px;
  border-radius: 0px;
  width: 152.5px; }
  .field-text__input-wrap {
    width: 100%; }
  .field-text__input:hover {
    background: #e5e5e5; }
  .field-text__input:focus {
    background: transparent;
    border: 4px solid #e5e5e5;
    padding-left: 18px;
    height: 52px;
    width: 147.5px; }
  .field-text__input::-webkit-input-placeholder {
    color: #000; }
  .field-text__input:-ms-input-placeholder {
    color: #000; }
  .field-text__input::placeholder {
    color: #000; }

.field-text:nth-child(2) input {
  width: 185px; }
  .field-text:nth-child(2) input:focus {
    width: 181px; }

.field-text__input--fix {
  width: 190px; }
  .field-text__input--fix:focus {
    width: 186px; }

.field-text__text--email::before {
  position: absolute;
  content: '';
  width: 59px;
  height: 68.5px;
  left: 207px;
  top: 23px;
  background: #e6e6e6 url("../img/icon-mail.svg") no-repeat;
  background-position: 50% 50%;
  background-size: 25px 25px; }

.field-text__text--phone::before {
  position: absolute;
  content: '';
  width: 59px;
  height: 68.5px;
  left: 207px;
  top: 23px;
  background: #e6e6e6 url("../img/icon-phone.svg") no-repeat;
  background-position: 50% 50%;
  background-size: 25px 25px; }

.field-textarea {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px; }
  .field-textarea__title {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px; }
  .field-textarea__item {
    width: 240px;
    min-height: 160px;
    background: #f2f2f2;
    border: none;
    outline: none;
    padding: 20px; }
    .field-textarea__item::-webkit-input-placeholder {
      color: #333;
      font-weight: 700; }
    .field-textarea__item:-ms-input-placeholder {
      color: #333;
      font-weight: 700; }
    .field-textarea__item::placeholder {
      color: #333;
      font-weight: 700; }

.form-fieldset {
  border-top: 1px solid #e5e5e5; }

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .gallery {
      width: 700px; } }
  @media (min-width: 1200px) {
    .gallery {
      width: 1200px; } }

.post {
  border-top: 1px solid #e5e5e5;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 20px; }
  .post:last-child {
    border-bottom: 1px solid #e5e5e5; }
  .post:nth-child(1) .post__photo {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    background: url("../img/photo-1-mobile@1x.jpg") no-repeat; }
  .post:nth-child(2) .post__photo {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    background: url("../img/photo-2-mobile@1x.jpg") no-repeat; }
  .post:nth-child(3) .post__photo {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    background: url("../img/photo-3-mobile@1x.jpg") no-repeat; }
  .post:nth-child(4) .post__photo {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    background: url("../img/photo-4-mobile@1x.jpg") no-repeat; }
  .post__quote {
    width: 280px;
    margin: 0 auto; }
  .post__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px; }
  .post__author {
    font-style: normal;
    text-transform: none;
    font-size: 14px;
    line-height: 24px;
    color: #333; }
  .post__like {
    margin-top: 0px;
    margin-bottom: 0px; }
  .post__like a {
    padding-left: 37px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    position: relative; }
  .post__like a::before {
    position: absolute;
    content: '';
    width: 23px;
    height: 23px;
    left: 0;
    background: url("../img/icon-like.svg") no-repeat; }

.main-form {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .main-form {
      width: 700px; } }
  @media (min-width: 1200px) {
    .main-form {
      width: 1200px; } }

.map {
  width: 100%;
  min-height: 350px;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat;
  background-size: cover; }

@media (min-width: 768px) {
  .map {
    background: url("../img/map-marker.jpg") no-repeat; } }

.form-button {
  display: inline-block;
  vertical-align: top;
  background: #81b3d2;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 19px 50px;
  font-size: 21px;
  line-height: 26px;
  display: -ms-flexbox;
  display: flex; }
  .form-button:hover {
    background: #669ec0; }
  .form-button:active {
    color: rgba(255, 255, 255, 0.3); }

.search {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  min-height: 300px; }
  @media (min-width: 768px) {
    .search {
      width: 700px; } }
  @media (min-width: 1200px) {
    .search {
      width: 1200px; } }
  .search__title {
    text-align: center;
    font-size: 21px;
    line-height: 26px; }
  .search__text {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 35px;
    padding-right: 30px;
    padding-left: 30px; }
  .search__btn {
    display: inline-block;
    vertical-align: top;
    background: #81b3d2;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    padding: 17px 50px; }
    .search__btn:hover {
      background: #669ec0; }
    .search__btn:active {
      color: rgba(255, 255, 255, 0.3); }
    .search__btn:hover {
      background: #669ec0; }
    .search__btn:active {
      color: #88b6d1; }

@media (min-width: 768px) {
  .search {
    width: 460px; }
    .search__title {
      font-size: 30px; }
    .search__text {
      padding-right: 0px;
      padding-left: 0px; }
    .search__btn {
      width: calc(100% - 100px); } }

.video {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  min-height: 460px; }
  @media (min-width: 768px) {
    .video {
      width: 700px; } }
  @media (min-width: 1200px) {
    .video {
      width: 1200px; } }
  .video__title {
    font-size: 18px;
    line-height: 26px; }
  .video__text {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
    margin-top: 30px; }
  .video__photo {
    position: relative;
    width: 100%;
    height: 200px;
    background: url("../img/video-mobile@1x.jpg") no-repeat; }
  .video__controls {
    position: absolute;
    width: 280px; }
    .video__controls-top {
      position: absolute;
      width: 280px;
      height: 45px;
      background-color: rgba(0, 0, 0, 0.6);
      left: 50%;
      margin-left: -120px;
      top: 155px; }
      .video__controls-top-scale {
        width: 235px;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        left: 50%;
        margin-left: -117px;
        top: 21px; }
      .video__controls-top-mark {
        width: 9px;
        height: 9px;
        background-color: #fff;
        position: absolute;
        border-radius: 50%;
        top: 18px;
        left: 58px; }
    .video__controls-bottom {
      position: absolute;
      width: 280px;
      height: 65px;
      background-color: #f2f2f2;
      left: 50%;
      margin-left: -120px;
      top: 200px; }
      .video__controls-bottom__btn-repeat {
        position: absolute;
        top: 20px;
        left: 25px;
        width: 21px;
        height: 21px;
        outline: none;
        border: none;
        background: url("../img/icon-video-replay.svg") no-repeat; }
      .video__controls-bottom__btn-sub {
        position: absolute;
        top: 20px;
        left: 174px;
        width: 32px;
        height: 31px;
        outline: none;
        border: none;
        background: url("../img/icon-video-subtitles.svg") no-repeat; }
      .video__controls-bottom__btn-fullscreen {
        position: absolute;
        top: 20px;
        left: 237px;
        width: 21px;
        height: 21px;
        outline: none;
        border: none;
        background: url("../img/icon-video-fullscreen.svg") no-repeat; }
