@mixin container {
  min-width: 320px; // ?????
  margin: 0 auto;

  @media #{$tablet} {
    width: 700px;
  }

  @media #{$desktop} {
    width: 1200px;
  }
}


@mixin btn {
  display: inline-block;
  vertical-align: top;
  background: #81b3d2;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
