@mixin container {
  width: 320px;
  margin: 0 auto;

  @media #{$tablet} {
    width: 700px;
  }

  @media #{$desktop} {
    width: 1200px;
  }
}


@mixin btn {
  background: #81b3d2;
  color: #fff;
}
