$bg-sedona: #ffffff;
$font-size: 18px;
$font-style: normal;
$main-color: #000;
$second-color: #fff;
$mobile-color: #81b3d2;


$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";
