.feauteres {
  margin-top: 30px;
  margin-bottom: 30px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding-left: 70px;
    padding-right: 33px;
    position: relative;
  }

  &__item:nth-child(1)::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: -7px;
    left: 13px;
    background: url('../img/icon-house.svg');
    background-size: contain;
    background-repeat: no-repeat;

  }

  &__item:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: -7px;
    left: 13px;
    background: url('../img/icon-gift.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__item:nth-child(3)::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: -7px;
    left: 13px;
    background: url('../img/icon-burger.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    color: #333;
  }
}


@media #{$tablet} {
  .feauteres {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 33.3%;
      padding-left: 33px;
      text-align: center;
      padding-top: 100px;


      &:nth-child(1)::before {
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        top: 0px;
        left: 90px;
        background: url('../img/icon-house.svg');
        background-size: contain;
        background-repeat: no-repeat;

      }

      &:nth-child(2)::before {
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        top: 0px;
        left: 90px;
        background: url('../img/icon-gift.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }

      &:nth-child(3)::before {
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        top: 11px;
        left: 90px;
        background: url('../img/icon-burger.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
