.main-nav {
  @include container;
  background: $bg-sedona;
  position: absolute;
  top: -250px;
  z-index: 10;
  transition: 0.5s;



  a {
    color: $second-color;
    text-decoration: none;
  }

  &__close {
    position: absolute;
    font-size: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    top: 3px;
    right: 3px;
    // top: 17px;
    // right: 19px;
    z-index: 5;

    &::before {
      position: absolute;
      content: '';
      height: 3px;
      width: 21px;
      background-color: #fff;
      transform: rotate(45deg);
      right: 17px;
      top: 25px;
    }

    &::after {
      position: absolute;
      content: '';
      height: 3px;
      width: 21px;
      background-color: #fff;
      transform: rotate(-45deg);
      right: 17px;
      top: 25px;
    }
  }

  &__list {
    list-style: none;
    background: $mobile-color;
    margin: 0;
    padding: 0;

    line-height: 40px;
    text-align: center;
    color: $second-color;
   }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 55px;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;

    position: relative;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: #669ec0;
    }

    &:active {
      color: #88b6d1;
    }
  }
}

@media #{$tablet} {
  .main-nav {

  }
}


@media #{$desktop} {
  .main-nav {

  }
}
