.page-header {
  @include container;
  position: relative;

  // &__wrapper {
  //   display: flex;
  //   justify-content: center;
  //   position: relative;
  //   z-index: 1;
  // }

  &__logo {
    margin: 0 auto;
    width: 102px;
    height: 83px;
    position: relative;
    z-index: 5;
  }

  &__toggle {
    position: absolute;

    right: 20px;
    top: 17px;

    background: none;
    border: none;
    outline: none;
    font-size: 0;

    height: 22px;
    width: 23px;
    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
    fill: $mobile-color;
  }
}


@media #{$tablet} {
.page-header {
  height: 50px;

    &__toggle {
      display: none;
    }

    &__logo {
      top: -50px;
    }
  }
}
