.post-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include container;

  &::before { // разобарться с треугольником
      position: absolute;
      content: '';
      left: 0;
      top: 0px;
      width: 100%; // 320px
      height: 37px;
      background-image: url('../img/white-triangle.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
}
