.promo {
  position: relative;

  &__img {
    width: 320px;
    height: 389px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-size: cover;
    background-position: -210px 0;
    margin-bottom: 45px;

    &::before {
      position: absolute;
      content: '';
      top: 90px;
      left: 50%;
      margin-left: -140px;
      width: 280px;
      height: 210px;
      background-image: url("../img/text-sedona-index.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::after { // разобраться с этим треугольником
      position: absolute;
      content: '';
      top: 332px;
      left: 0;
      width: 320px;
      height: 57px;
      background-image: url("../img/intro-triangle.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
  }

  &__text {
    font-size: 14px;
    line-height: 26px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 15px;
    text-align: center;
    color: #333;
  }
}
