.reason {
  display: flex;
  flex-wrap: wrap;
  background-color: #81b3d2;

  &__text-wrapper {
    position: relative;
    text-align: center;
    color: #fff;
    padding-top: 30px; // костыль, починить при наличии свг треугольника

    &:first-child {
      padding-top: 80px;
    }
  }


  &__title {
    font-size: 18px;
    line-height: 10px;

  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 45px;
  }

  &__photo {
    width: 100%;
    height: 260px;
    background: url('../img/photo-city@1x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -105px 0px;

    &-2 { // сделать правильно при получении знаний
      width: 100%;
      height: 260px;
      background: url('../img/photo-4-mobile@1x.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.reason--close {
  background-color: #eee;

  .reason__title {
    color: #000;
  }

  .reason__number {
    color: #333;
  }

  .reason__text {
    color: #333;
    padding-bottom: 30px;
  }

  .reason__text-wrapper {
    border-bottom: 1px solid #d6d6d6;
    padding-top: 30px;
  }

  &:last-child .reason__text-wrapper {
    border-bottom: none;
  }
}
