.social-btn {
  @include btn;

  width: 47px;
  height: 48px;

  &--twitter {
      background: #81b3d2 url('../img/icon-twitter.svg') no-repeat;
      background-size: 35px 35px;
      background-position: center;
    }

    &--facebook {
      background: #81b3d2 url('../img/icon-facebook.svg') no-repeat;
      background-size: 35px 35px;
      background-position: center;
    }

    &--youtube {
      background: #81b3d2 url('../img/icon-youtube.svg') no-repeat;
      background-size: 35px 35px;
      background-position: center;
    }
}
