.video {
  @include container;
  text-align: center;
  min-height: 460px;

  &__title {
    font-size: 18px;
    line-height: 26px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
  }

  &__photo {
    position: relative;
    width: 100%;
    height: 200px;
    background: url('../img/video-mobile@1x.jpg') no-repeat;
  }

  &__controls {
    position: absolute;
    width: 280px;

    &-top {
      position: absolute;
      width: 280px;
      height: 45px;
      background-color: rgba(0, 0, 0, 0.6);
      left: 50%;
      margin-left: -120px;
      top: 155px;

      &-scale {
        width: 235px;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        left: 50%;
        margin-left: -117px;
        top: 21px;
      }

      &-mark {
        width: 9px;
        height: 9px;
        background-color: #fff;
        position: absolute;
        border-radius: 50%;
        top: 18px;
        left: 58px;
      }
    }

    &-bottom {
      position: absolute;
      width: 280px;
      height: 65px;
      background-color: #f2f2f2;
      left: 50%;
      margin-left: -120px;
      top: 200px;

      &__btn-repeat {
        position: absolute;
        top: 20px;
        left: 25px;
        width: 21px;
        height: 21px;
        outline: none;
        border: none;
        background: url('../img/icon-video-replay.svg') no-repeat;
      }

      &__btn-sub {
        position: absolute;
        top: 20px;
        left: 174px;
        width: 32px;
        height: 31px;
        outline: none;
        border: none;
        background: url('../img/icon-video-subtitles.svg') no-repeat;
      }

      &__btn-fullscreen {
        position: absolute;
        top: 20px;
        left: 237px;
        width: 21px;
        height: 21px;
        outline: none;
        border: none;
        background: url('../img/icon-video-fullscreen.svg') no-repeat;
      }
    }
  }
}
