.video {
  @include container;
  text-align: center;
  min-height: 460px;

  &__title {
    font-size: 18px;
    line-height: 26px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
  }

  &__photo {
    position: relative;
    width: 100%;
    height: 200px;
    background: url('../img/video-mobile@1x.jpg') no-repeat;
  }

  &__controls {
    position: absolute;
    width: 280px;

    &-top {
      position: absolute;
      width: 280px;
      height: 45px;
      background-color: rgba(0, 0, 0, 0.6);
      left: 50%;
      margin-left: -120px;
      top: 155px;

      &-scale {
        width: 235px;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        left: 50%;
        margin-left: -117px;
        top: 21px;
      }

      &-mark {
        width: 9px;
        height: 9px;
        background-color: #fff;
        position: absolute;
        border-radius: 50%;
        top: 18px;
        left: 58px;
      }
    }

    &-bottom {
      position: absolute;
      width: 280px;
      height: 65px;
      background-color: #f2f2f2;
      left: 50%;
      margin-left: -120px;
      top: 200px;

      &__btn-repeat {
        position: absolute;
        top: 20px;
        left: 25px;
        width: 21px;
        height: 21px;
        outline: none;
        border: none;
        background: url('../img/icon-video-replay.svg') no-repeat;
      }

      &__btn-sub {
        position: absolute;
        top: 20px;
        left: 174px;
        width: 32px;
        height: 31px;
        outline: none;
        border: none;
        background: url('../img/icon-video-subtitles.svg') no-repeat;
      }

      &__btn-fullscreen {
        position: absolute;
        top: 20px;
        left: 237px;
        width: 21px;
        height: 21px;
        outline: none;
        border: none;
        background: url('../img/icon-video-fullscreen.svg') no-repeat;
      }
    }
  }
}

@media #{$tablet} {
  .video {
    @include container--photo;
    margin-bottom: 70px;

    &__title {
      font-size: 30px;
    }

    &__text {
      padding-left: 110px;
      padding-right: 110px;
    }

    &__photo {
      width: 100%;
      min-height: 499px;
      background: url('../img/video-tablet.jpg') no-repeat;
    }

    &__controls {
      width: 100%;

      &-top {
        width: 100%;
        height: 95px;
        top: 405px;
        left: 0;
        margin-left: 0px;

        &-scale {
          width: 390px;
          left: 93px;
          margin-left: 0px;
          top: 43px;
        }

        &-mark {
          top: 40px;
          left: 205px;
          cursor: pointer;
        }
      }

      &-bottom {

        background: transparent;
        width: 100%;
        margin-left: 0px;
        left: 0px;
        top: 0px;

        &__btn-repeat {
          top: 440px;
          left: 35px;
        }

        &__btn-sub {
          top: 440px;
          left: 525px;
        }

        &__btn-fullscreen {
          top: 440px;
          left: 580px;
        }
      }
    }
  }
}
